* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 45%;
    gap: 10px;
}

.container>div {

    height: 20vh;
    display: grid;
    place-items: center;
    background-image: conic-gradient(red, yellow, green, blue, black);
    font-size: 50px;
    cursor: pointer;

}

@media screen and (max-width:920px) {

    .container>div {

        height: 15vh;
        font-size: 25px;
    }
    .container{

        width:90%
    }

}