* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 35%;
    gap: 10px;
}

.container>div {

    height: 20vh;
    display: grid;
    place-items: center;
    background-image: conic-gradient(red, yellow, green, blue, black);
    font-size: 50px;
    cursor: pointer;

}

@media (max-width: 600px) {
    .container {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 600px) and (max-width: 900px) {
    .container {
        width: 70%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px) {
    .container {
        width: 50%;
        grid-template-columns: repeat(4, 1fr);
    }
}